nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 50px; 
}
.nav {
    grid-column: 1 / 2;
    font-size: 2em; 
    list-style-type: none;
    margin: 10px;
    padding: 10px; 
    font-family: 'Josefin Sans', sans-serif;
    color: #225BA8;
    text-decoration: none;
    text-align: left;
    height: 20px; 
}
header {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
}
a {
    text-decoration: none;
    color: #225BA8;  
    font-size: 15px;
}
a:hover {
    background-color: #41D4DB;
    transition-delay: 0.5s;
}
.logo {
    grid-column: 2 / 3; 
    grid-row: 1 / 2;
    width: 300px; 
    margin-left: 60px;
}
h1 {
    font-family: 'Lora', serif;
    color: #225BA8; 
    text-align: center;
    padding: 30px; 
    margin: 20px;
    font-size: 3em;
}
.ratetable {
    font-family: 'Josefin Sans', sans-serif;
    color: #225BA8;
    font-size: 2em; 
    text-align: center;
    margin: 0 auto; 
    border: solid;
    border-color: #225BA8;
}
td {
    border: solid;
    border-color: #225BA8;
}
.flow {
    display: flex; 
    flex-wrap: wrap; 
    margin: 40px; 
}
.foot {
    display: block; 
    background-color: none;
    margin: 0 auto; 
    text-align: center;
}
  @media screen and (min-width: 600px) {
nav {
    display: block; 
}
.nav {
    display: flex;
    justify-content: space-evenly;  
}
h2 {
    font-family: 'Lora', serif;
    color: #225BA8; 
    text-align: center;
    padding: 30px; 
    margin: 20px;
    font-size: 2em;
}
h3 {
    font-family: 'Lora', serif;
    color: #225BA8; 
    text-align: center;
    padding: 30px; 
    margin: 20px;
    font-size: 1em; 
}
.list {
    display: block; 
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: #225BA8;
    font-size: 2em; 
    list-style-type: none;
    margin: 10px; 
    padding: 10px; 
}
.foot {
    display: block; 
    background-color: none;
    margin: 0 auto; 
    text-align: center;
}
}